<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405177365694-2icn3vs9ssg8m0cmn8i0hr0qvcj5nl7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405177365694-2icn3vs9ssg8m0cmn8i0hr0qvcj5nl7p</string>
	<key>API_KEY</key>
	<string>AIzaSyDIiUlhS-mKf-sGm3R2HfLKxN5P9AyBfA0</string>
	<key>GCM_SENDER_ID</key>
	<string>405177365694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cloudStore</string>
	<key>PROJECT_ID</key>
	<string>cloudstore-4361c</string>
	<key>STORAGE_BUCKET</key>
	<string>cloudstore-4361c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405177365694:ios:e0f407c0184e409fce1aef</string>
</dict>
</plist>